# --- Python Environment & Artifacts ---
venv/
.venv/
__pycache__/
*.pyc

# --- Source Control ---
.git

# --- Secrets & Environment Config ---
.env
*.tfvars
prod.tfvars
staging.tfvars

# --- Infrastructure State ---
*.tfstate*

# --- Build Artifacts ---
staticfiles/