# --- Databases ---
db.sqlite3
db.sqlite3-journal

# --- Python & Environment ---
__pycache__/
*.pyc
.env
*.env
venv/
.venv/

# --- Infrastructure (Terraform) ---
*.tfvars
prod.tfvars
staging.tfvars
*.tfstate*
.terraform/

# --- Static & Media ---
staticfiles/
media/