{% extends "base.html" %}

{% load static %}
{% load budgetextra %}

{% block content %}

<!-- Content Start -->
<div class="content">

    <!-- Button Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="card bg-bs-dark border border-light shadow-sm p-3">
                <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">

                    {% include "partials/page_titles.html" %}
                    
                </div>
            </div>

            <!-- New Category/Account Inputs -->
            <div class="col-sm-12 col-xl-12">
                <div class="transaction-card rounded-4 p-4 shadow-sm">
                    <h6 class="mb-4">New Inputs</h6>
                    <form method="POST" action="{% url 'addinput' %}">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label for="inputtype" class="col-sm-2 col-form-label">Input Type</label>
                            <div class="col-sm-10">
                                <select id="inputtype" name="inputtype" class="form-select mb-3" aria-label="Default select example">
                                    <option selected>**Options**</option>
                                    <option value="category">Category</option>
                                    <option value="institution">Bank Institution</option>
                                    <option value="account">Account</option>
                                </select>
                            </div>
                        </div>
                        <div id="institutionfields" class="hidefield">
                            <div class="row mb-3">
                                <label for="inputinstitution" class="col-sm-2 col-form-label">New Institution</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputinstitution" name="inputinstitution">
                                </div>
                            </div>
                        </div>
                        <div id="categoryfields" class="hidefield">
                            <fieldset  class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0">Category Type</legend>
                                <div class="col-sm-10">
                                    {% for categorytype in categorytypes %}
                                    {% if categorytype.name not in "Transfer Refund Reimbursement" %}
                                    <label class="radio-card">
                                        <input type="radio" name="categorytypechoice" value="{{ categorytype.id }}"
                                            id="categorytype{{categorytype.id}}">
                                        <div class="radio-card-body">
                                            {{ categorytype.name }}
                                        </div>
                                    </label>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <div class="row mb-3">
                                <label for="inputcategory" class="col-sm-2 col-form-label">New Category</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputcategory" name="inputcategory">
                                </div>
                            </div>
                        </div>
                        <div id="accountfields" class="hidefield">
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0">Account Type</legend>
                                <div class="col-sm-10">
                                    {% for accounttype in accounttypes %}
                                    <label class="radio-card">
                                        <input type="radio" name="accountchoice" value="{{ accounttype.id }}"
                                            id="accounttype{{accounttype.id}}">
                                        <div class="radio-card-body">
                                            {{ accounttype.name }}
                                        </div>
                                    </label>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0">Bank Institution</legend>
                                <div class="col-sm-10">
                                    {% for institution in institutions %}
                                    <label class="radio-card">
                                        <input type="radio" name="institutionchoice" value="{{ institution.id }}"
                                            id="institution{{institution.id}}">
                                        <div class="radio-card-body">
                                            {{ institution.name }}
                                        </div>
                                    </label>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <div class="row mb-3">
                                <label for="inputaccount" class="col-sm-2 col-form-label">New Account</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="inputaccount" name="inputaccount">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputaccountbalance" class="col-sm-2 col-form-label">Starting Balance</label>
                                <div class="col-sm-2">
                                    <input class="form-control" id="inputaccountbalance" name="inputaccountbalance">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">ADD</button>
                    </form>
                </div>
            </div>
            <!-- New Category/Account Input End-->
        </div>
    </div>
    <!--END INPUT FORM-->


    
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <!-- Category Types Start-->
            <div class="col-sm-12 col-xl-6">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h5 class="mb-0">Category Types</h5>
                            </div>
                            {% for categorytype in categorytypes %}
                            <hr>
                            <div class="d-flex align-items-center py-3">
                                <i class="fa {{ typeiconmap|getitem:categorytype.name|default:'fa-folder' }} fa-3x text-primesec"></i>
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-0 text-primary">{{ categorytype.name }}</h5>
                                    </div>
                                    <ul class="text-white pt-3 ms-4">
                                        {% if categorytype.name == "Refund" or categorytype.name == "Reimbursement" %}
                                            {% for category in categorytype.displaycategories %}
                                            <li>{{ category.name }}</li>
                                            {% endfor %}
                                        {% else %}
                                            {% for category in categorytype.category_set.all %}
                                            <li>{{ category.name }}</li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Account Type Start-->
            <div class="col-sm-12 col-xl-6">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h4 class="mb-0">Account Types</h4>
                            </div>
                            {% for accounttype in accounttypes %}
                            <hr>
                            <div class="d-flex align-items-center py-3">
                                <i class="fa {{ accounticonmap|getitem:accounttype.name|default:'fa-folder' }} fa-3x text-primesec"></i>
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-0 text-primary">{{ accounttype.name }}</h5>
                                    </div>
                                    <ul class="text-white pt-3 ms-4">
                                        {% for account in accounttype.accounts.all %}
                                        <li>{{ account.institution.name }} {{ account.name }} - Starting Balance: {{ account.startingbalance }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Account Type End -->
        </div>
    </div>
    <!-- Button End -->

    {% include "partials/footer.html" %}

</div>
<!-- Content End -->

{% endblock %}

{% block scripts %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/chart/chart.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/newinputtypeselection.js' %}"></script>
    <script src="{% static 'js/guest_user_warning.js' %}"></script>

{% endblock %}