{% extends "base.html" %}

{% load static %}
{% load budgetextra %}

{% block content %}

<!-- Content Start -->
<div class="content">

    <!-- Widget Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="card bg-bs-dark border border-light shadow-sm p-3">
                <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">

                    {% include "partials/page_titles.html" %}
                    
                </div>
            </div>
        </div>
        <div class="row g-4 mt-4">

            <!-- Bill Tracker Start -->
            <div class="col-sm-12 col-md-8 col-xl-8">
                <div class="h-100 p-4 rounded-4 shadow-lg bg-secondary">
                    
                    <!-- Header -->
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="text-white fw-bold mb-0">Reminders</h5>
                    </div>
                
                    <!-- Reminder Input Form -->
                    <form method="POST" action="{% url 'addreminder' %}">
                        {% csrf_token %}
                        <div class="bill-input mb-3 d-flex flex-column gap-2">
                            <input type="text" id="inputname" name="inputname" class="form-control rounded-pill px-3 bg-dark text-light border-0" placeholder="Name" required>
                            <div class="d-flex gap-2">
                            <input type="text" class="form-control bg-dark" name="inputdate" id="inputdate" placeholder="MM-DD-YYYY" autocomplete="off" required>
                            <input type="number" id="inputamount" name="inputamount" class="form-control rounded-pill px-3 bg-dark text-white border-0" placeholder="$ Amount">
                            <select id="inputcategory" name="inputcategory" class="form-select text-light bg-dark">
                                <option value="" selected>Select Category...</option>
                                {% for categorytype in categorytypes %}
                                {% if categorytype.name != "Transfer" and categorytype.name != "Refund" and categorytype.name != "Reimbursement" %}
                                <optgroup label="{{ categorytype.name }}">
                                    {% for category in categorytype.category_set.all %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </optgroup>
                                {% endif %}
                                {% endfor %}
                            </select>                                
                        </div>
                        <button id="addreminder" class="btn btn-primary rounded-pill px-4 mt-1">Add Reminder</button>
                    </form>
                </div>
            
                <!-- Bill List -->
                <div class="section-divider my-4">
                    <span class="divider-label">Active</span>
                </div>                           
                <div id="billList" class="bill-container d-flex flex-column gap-3">
                    {% for reminder in reminders %}
                    <form method="POST" action="{% url 'deletereminder' %}">
                        {% csrf_token %}
                        <div class="bill-card category-border border border-light position-relative p-3 rounded-3 bg-dark shadow-sm">
                            <!-- Checkbox on the left -->
                            <div class="d-flex align-items-center gap-3">
                            
                                <!-- Bill Info -->
                                <div class="d-flex flex-column flex-grow-1">
                                    <span class="bill-name text-white fw-semibold">{{ reminder.name }}</span>
                                    <small class="bill-date text-muted">Date: {{ reminder.date }}</small>
                                </div>
                            </div>
                    
                            <!-- Floating badge (top-right) -->
                            <span class="badge bg-secondary position-absolute top-0 end-0 m-2"
                            data-type="{{ reminder.category.type|lower }}">{{ reminder.category }}</span>
                    
                            <!-- Amount + Delete button in bottom-right corner -->
                            <div class="bottom-right d-flex align-items-center gap-2">
                                <span class="bill-amount text-white fw-bold">${{ reminder.amount }}</span>
                                <button id="deletereminder" name="deletereminder" value="{{ reminder.id}}" class="btn btn-sm p-1 text-light"><i class="fa fa-times text-light"></i></button>
                            </div>
                        </div>
                    </form>
                    {% empty %}
                    <div class="bill-card d-flex align-items-center p-3 rounded-3 bg-dark shadow-sm gap-3">                            
                        <div class="d-flex flex-column flex-grow-1">
                            <span class="bill-name text-white fw-semibold">No Reminders</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>
            <!-- Bill Tracker End -->
            <!-- Tasks List Start -->
            <div class="col-sm-12 col-md-6 col-xl-4">
                <div class="h-100 p-4 rounded-4 shadow-lg bg-secondary">
                <!-- Header -->
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="text-white fw-bold mb-0">Tasks</h5>
                    </div>
            
                    <!-- Add Task Input -->
                    <form method="POST" action="{% url 'addtask' %}">
                        {% csrf_token %}
                        <div class="d-flex gap-2 mb-3">
                            <input id="taskinput" name="taskinput" class="form-control rounded-pill px-3 bg-dark text-white border-0" type="text" placeholder="Add new task...">
                            <button id="addtask" class="btn btn-primary rounded-pill px-4">Add</button>
                        </div>
                    </form>
            
                    <!-- Task List -->
                    <div class="section-divider my-4">
                        <span class="divider-label">Active</span>
                    </div> 
                    <div id="activetasks" class="billtask-container d-flex flex-column gap-3">
                        {% for activetask in activetasks %}
                            <div class="task-item mb-1 billtask-card d-flex align-items-center justify-content-between p-3 rounded-3 bg-dark shadow-sm" draggable="true" data-task-id="{{ activetask.id }}">
                                <div class="d-flex align-items-center gap-2">
                                    <input type="checkbox" class="task-checkbox form-check-input m-0">
                                    <span class="billtask-text task-text text-white">{{ activetask.name }}</span>
                                </div>
                                <form method="POST" action="{% url 'deletetask' %}">
                                    {% csrf_token %}
                                    <button id=deletetask name="deletetask" value="{{ activetask.id }}" class="btn btn-sm p-1"><i class="fa fa-times"></i></button>
                                </form>
                            </div>
                            {% empty %}
                            <div class="billtask-card d-flex align-items-center justify-content-between p-3 rounded-3 bg-dark shadow-sm" draggable="true">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="billtask-text text-white">No Tasks Set</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="section-divider my-4">
                        <span class="divider-label">Completed</span>
                    </div>
                    <div id="completedtasks" class="billtask-container d-flex flex-column gap-3">
                        {% for completedtask in completedtasks %}
                            <div class="task-item mb-1 billtask-card d-flex align-items-center justify-content-between p-3 rounded-3 bg-dark shadow-sm" draggable="true" data-task-id="{{ completedtask.id }}">
                                <div class="d-flex align-items-center gap-2">
                                    <input type="checkbox" class="task-checkbox form-check-input m-0" checked>
                                    <span class="billtask-text task-text text-white task-completed">{{ completedtask.name }}</span>
                                </div>
                                <form method="POST" action="{% url 'deletetask' %}">
                                    {% csrf_token %}
                                    <button id=deletetask name="deletetask" value="{{ completedtask.id }}" class="btn btn-sm p-1"><i class="fa fa-times"></i></button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Bills List End -->

            <!-- Calendar Start -->
            <div class="container">
                <div id="billCalendar"></div>
            </div>
            <!-- Calendar End-->
        </div>
    </div>
    <!-- Widget End -->

    {% include "partials/footer.html" %}

</div>
<!-- Content End -->

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js"></script>


    <script id="reminders-data" type="application/json">
        [
          {% for reminder in reminders %}
            {
              "name": "{{ reminder.name|escapejs }}",
              "amount": "{{ reminder.amount|floatformat:2 }}",
              "start": "{{ reminder.date|date:'Y-m-d' }}",
              "categoryType": "{{ reminder.category.type|lower }}"
            }{% if not forloop.last %},{% endif %}
          {% endfor %}
        ]
    </script>      
    <script src="{% static 'js/fullcalendar.js' %}"></script>
    <script src="{% static 'js/iconcolorstyling.js' %}"></script> 
    <script src="{% static 'js/tasks.js' %}"></script>
    <script>const taskCompleteUrl = "{% url 'taskcomplete' %}";</script>
    <script src="{% static 'js/taskcheckbox.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> 
    <script src="{% static 'js/flatpickr.js' %}"></script> 
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/guest_user_warning.js' %}"></script>

{% endblock %}