/* Calendar container */
.flatpickr-calendar {
    background: #002ed6;
    border: 1px solid #444;
    color: #fff;
  }
  
.flatpickr-day.today {
  border: none;
  color: inherit;
  position: relative;
}

.flatpickr-day.today::after {
  content: "";
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 10px;
  height: 10px;
  background: var(--primary);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  pointer-events: none;
  z-index: 2;
}


.flatpickr-day:hover,
.flatpickr-day:focus {
  border-radius: 0 !important;
  border: 1px solid var(--primary);
  background: transparent;
  color: var(--primary);
}

.flatpickr-day.selected,
.flatpickr-day.selected:hover {
  border-radius: 0 !important;
  background: var(--primary) !important;
  color: var(--primesec) !important;
  border: 1px solid black !important;
}  